div.store-tokyo {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 32px;
  gap: 24px;
}

.text-content-store {
  width: 312px;
}

.text-content-store h3 {
  margin: 14px 0 24px 0;
}

div.img-item-store {
  background: url(../images/blog/blog-store-mobile.png) no-repeat center;
  background-size: cover;
  width: 312px;
  height: 360px;
}

div.img-item-bridge {
  background: url(../images/blog/blog-bridge-mobile.png) no-repeat center;
  background-size: cover;
  height: 300px;
  margin: 32px 0 8px 0;
}

@media screen and (min-width: 768px) {
  div.store-tokyo {
    display: flex;
    flex-flow: row wrap;
  }

  .text-content-store h3 {
    margin: 0px 0 24px 0;
  }

  div.img-item-bridge {
    background: url(../images/blog/blog-bridge-tablet.png) no-repeat center;
    background-size: cover;
    height: 300px;
    margin: 32px 0 8px 0;
  }
}

@media screen and (min-width: 1024px) {
  section.tokyo {
    width: 930px;
  }

  div.store-tokyo {
    justify-content: center;
  }

  div.img-item-store {
    background: url(../images/blog/blog-store-desktop.png) no-repeat center;
    background-size: cover;
    width: 588px;
  }
}

@media screen and (min-width: 1440px) {
  section.tokyo {
    width: 1200px;
  }

  .text-content-store {
    width: 588px;
  }

  div.img-item-bridge {
    background: url(../images/blog/blog-bridge-desktop.png) no-repeat center;
    background-size: cover;
    height: 300px;
    margin: 32px 0 8px 0;
  }
}
