section.form-container {
  text-align: center;
}

.text-content h2 {
  width: 312px;
  font-size: 32px;
  margin: 0 auto;
}

.text-content p {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
}

.text-content hr {
  width: 180px;
  height: 4px;
  margin: 16px auto 56px;
  background-color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

input {
  margin-bottom: 64px;
  width: 100%;
  height: 40px;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid var(--tertiary-color);
  border-left: none;
}

input:hover {
  border-bottom: 3px solid var(--primary-color);
}

input::placeholder {
  color: var(--quartenary-color);
  font-size: 20px;
}

input:hover::placeholder {
  color: var(--text-primary-color);
}

label {
  align-self: flex-start;
  color: var(--quartenary-color);
  font-size: 20px;
  margin-bottom: 8px;
}

label:hover {
  color: var(--text-primary-color);
}

textarea {
  border: 2px solid var(--tertiary-color);
  border-radius: 8px;
  width: 100%;
  height: 90px;
  margin-bottom: 32px;
}

textarea:hover {
  border: 2px solid var(--primary-color);
}

button {
  border: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .text-content {
    margin: 0 auto;
  }

  .text-content h2 {
    width: 384px;
  }

  .text-content p {
    font-size: 20px;
    line-height: 32px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 648px;
  }

  button {
    border: none;
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .text-content {
    margin: 0 auto;
    width: 900px;
  }

  .text-content p {
    font-size: 20px;
    line-height: 32px;
  }

  form {
    width: 750px;
    margin: 56px auto 0;
  }

  div.dados {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  section.form-container {
    margin: 104px auto;
  }

  .text-content {
    margin: 0 auto;
    width: 1200px;
  }

  form {
    width: 790px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 383px;
  }
}
