section.form-container {
  text-align: center;
}

.text-content h2 {
  width: 312px;
  font-size: 32px;
  margin: 0 auto;
}

.text-content p {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

input {
  margin-bottom: 64px;
  width: 100%;
  height: 40px;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid var(--tertiary-color);
  border-left: none;
}

input::placeholder {
  color: var(--quartenary-color);
  font-size: 20px;
}

input:hover {
  border-bottom: 3px solid var(--primary-color);
}

input:hover::placeholder {
  color: var(--text-primary-color);
}

label {
  align-self: flex-start;
  color: var(--quartenary-color);
  font-size: 20px;
}

label:focus {
  color: var(--text-primary-color);
}

textarea {
  border: 2px solid var(--tertiary-color);
  border-radius: 8px;
  width: 100%;
  height: 90px;
  margin-bottom: 32px;
}

textarea:hover {
  border: 2px solid var(--primary-color);
}

button {
  border: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .text-content h2 {
    width: 384px;
  }
}
