header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    background-color: var(--background-tertiary-color);
}

a.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav{
    display: none;
}