header{
    width: 100vw;
    height: 138px;
    background-color: var(--background-tertiary-color);
}

a.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}