article.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  background-color: black;
  border-radius: 16px;
  text-align: center;
}

article.card > header {
  position: static;
  display: block;
  background-color: transparent;
  padding: 0;
  margin-bottom: 24px;
}

article.card > header > p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

article.card > header > h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 16px;
}

article.card > header > span {
  display: inline-block;
  font-size: 32px;
  margin:  0;
}

@media screen and (min-width: 1024px) {
  article.card {
    width: 588px;
    height: 308px;
  }

  article.card > header > h3 {
    font-size: 48px;
  }

  article.card > header > span {
    font-size: 40px;
  }
}
