.image-content {
  display: grid;
  height: 460px;
  grid-template: auto auto / repeat(2, 1fr);
  gap: 24px;
  margin-top: 24px;
  width: 100%;
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
}

.image-bag,
.image-passport {
  background: url(../images/foto-bag-mobile.png) no-repeat center;
  background-size: cover;
}

.image-passport {
  background: url(../images/foto-passport-mobile.png) no-repeat center;
  background-size: cover;
}

div.image-people {
  grid-column-start: 1;
  grid-column-end: 3;

  background: url(../images/foto-people-mobile.png) no-repeat bottom center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .image-bag {
    background: url(../images/foto-bag-tablet.png) no-repeat center;
    background-size: cover;
  }

  .image-passport {
    background: url(../images/foto-passport-tablet.png) no-repeat center;
    background-size: cover;
  }

  div.image-people {
    background: url(../images/foto-people-tablet.png) no-repeat bottom center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .content-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 32px;
  }

  .text-content {
    width: 360px;
  }

  .image-content {
    width: 550px;
  }
}

@media screen and (min-width: 1440px) {
  .content-container {
    justify-content: space-between;
  }

  .image-content {
    width: 790px;
  }
}
