.testimonial-container {
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.testimonial-container > article > header > p {
  font-size: 16px;
  line-height: 28px;
}

.testimonial-container > article > header > h3 {
  font-size: 20px;
  line-height: 28px;
}

.testimonial-container > article > footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.testimonial-container > article > footer > img {
  width: 86px;
  height: 86px;
}

.testimonial-container > article > footer .profile-content h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0 0 8px;
}

.testimonial-container .profile-content > .rating > span.star {
  font-size: 32px;
  color: var(--primary-color);
  line-height: 32px;
}

@media screen and (min-width: 1024px) {
  .testimonial-container {
    width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    flex-flow: row;
    width: 1200px;
  }
}
